<section class="section services">
  <div class="section__inner">
    <ol class="services__list">
      @for (point of points; track point.title; let i = $index) {
        <li class="services__item" appReveal [appRevealDelay]="(i % 3) * 120">
          <span class="services__index" aria-hidden="true">
            <app-service-icon class="services__icon" [icon]="point.icon" />
          </span>
          <div>
            <h2>{{ point.title }}</h2>
            <p>{{ point.text }}</p>
            @if (point.more) {
              <p>{{ point.more }}</p>
            }
          </div>
          <figure class="services__photo">
            <img
              [src]="point.image"
              [alt]="point.imageAlt"
              width="560"
              height="420"
              loading="lazy"
              decoding="async"
            />
          </figure>
        </li>
      }
    </ol>
  </div>
</section>
